In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('input_2.xlsx')

In [3]:
data.head()

  Column1 Column2              Column3
0    1-13      r:     gqdrspndrpsrjfjx
1    5-16      j:  jjjjkjjzjjjjjfjzjjj
2   14-16      r:     rrrnrrrrrcnrgxrr
3     1-3      k:           bkktwhgktv
4     3-5      q:           dxqqqzmqvs

In [4]:
len(data['Column1'])

1000

In [9]:
data['Column3'][0].count('r')

3

In [13]:
data['Column3'][0].count(data['Column2'][0][0])

3

In [12]:
data['Column2'][0][0]

'r'

In [17]:
good_passwords = 0
for i in range(0,len(data['Column1'])):
    mini = int(data['Column1'][i].split("-")[0])
    maxi = int(data['Column1'][i].split("-")[1])
    letter = data['Column2'][i][0]
    count = data['Column3'][i].count(letter)
    if mini <= count <= maxi:
        good_passwords += 1
    else:
        continue
good_passwords

600

In [18]:
good_passwords = 0
for i in range(0,len(data['Column1'])):
    pos1 = int(data['Column1'][i].split("-")[0]) -1
    pos2 = int(data['Column1'][i].split("-")[1]) -1
    letter = data['Column2'][i][0]
    if letter == data['Column3'][i][pos1]:
        if letter == data['Column3'][i][pos2]:
            continue
        else:
            good_passwords += 1
    elif letter == data['Column3'][i][pos2]:
        good_passwords += 1
    else:
        continue
good_passwords

245