In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('input_6.xlsx',skip_blank_lines = False)

In [3]:
data.head()

        Column1
0             l
1             l
2           vqb
3           NaN
4  zrbnqykcsxjm

In [4]:
data_1 = []
x = ''
for i in range(len(data['Column1'])):
    if pd.isnull(data['Column1'][i]) == False:
        x += data['Column1'][i]
    else:
        data_1.append(x)
        x = ''
data_1.append(x)

In [8]:
data_1[0]

'llvqb'

In [9]:
data_2 = []
for i in range(len(data_1)):
    li = []
    for j in range(len(data_1[i])):
        li.append(data_1[i][j])
    data_2.append(li)

In [12]:
set(data_2[0])

{'b', 'l', 'q', 'v'}

In [13]:
data_3 = []
for i in range(len(data_2)):
    data_3.append(set(data_2[i]))

In [19]:
len(data_3[0])

4

In [20]:
sum_data = []
for i in range(len(data_3)):
    sum_data.append(len(data_3[i]))

In [21]:
sum(sum_data)

6885

In [110]:
def intersection(x,y):
    z = ''
    for i in range(len(x)):
        if x[i] in y:
            z += x[i]
    return(z)

In [122]:
data_4 = []
sub_list = []
for i in range(len(data['Column1'])):
    if pd.isnull(data['Column1'][i]) == False:
        sub_list.append(data['Column1'][i])
    else:
        data_4.append(sub_list)
        sub_list = []
data_4.append(sub_list)

In [123]:
data_4[2]

['jiare', 'eria', 'iaer', 'arie', 'aiexqr']

In [124]:
intersection(data_4[-1][0],data_4[-1][1])

'wmpv'

In [125]:
data_5 = []
for i in range(len(data_4)):
    combined = [data_4[i][0]]
    for j in range(len(data_4[i])):
        combined = intersection(combined,data_4[i][j])
    data_5.append(combined)

In [126]:
sum_data_5 = []
for i in range(len(data_5)):
    sum_data_5.append(len(data_5[i]))

In [127]:
sum(sum_data_5)

3550