In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('input_3.xlsx')

In [3]:
data.head()

                           Column1
0  .##.#.........#.....#....#...#.
1  .#.#.#...#.......#.............
2  ......#..#....#.#...###.......#
3  .......###......#.....#..##..#.
4  ..#...##.......#.......###.....

In [4]:
len(data['Column1'])

323

In [5]:
len(data['Column1'][0])

31

In [7]:
32%31

1

In [8]:
pos = 0
trees = 0
free = 0
for i in range(len(data['Column1'])):
    if data['Column1'][i][pos] == '#':
        trees += 1
    else:
        free += 1
    pos += 3
    pos = pos%31
print(trees, free, trees + free)

284 39 323

In [10]:
pos = 0
trees = 0
free = 0
for i in range(len(data['Column1'])):
    if data['Column1'][i][pos] == '#':
        trees += 1
    else:
        free += 1
    pos += 1
    pos = pos%31
trees_a = trees

In [9]:
pos = 0
trees = 0
free = 0
for i in range(len(data['Column1'])):
    if data['Column1'][i][pos] == '#':
        trees += 1
    else:
        free += 1
    pos += 3
    pos = pos%31
trees_b = trees

In [11]:
pos = 0
trees = 0
free = 0
for i in range(len(data['Column1'])):
    if data['Column1'][i][pos] == '#':
        trees += 1
    else:
        free += 1
    pos += 5
    pos = pos%31
trees_c = trees

In [12]:
pos = 0
trees = 0
free = 0
for i in range(len(data['Column1'])):
    if data['Column1'][i][pos] == '#':
        trees += 1
    else:
        free += 1
    pos += 7
    pos = pos%31
trees_d = trees

In [13]:
pos = 0
trees = 0
free = 0
for i in range(0,len(data['Column1']),2):
    if data['Column1'][i][pos] == '#':
        trees += 1
    else:
        free += 1
    pos += 1
    pos = pos%31
trees_e = trees

In [14]:
trees_a*trees_b*trees_c*trees_d*trees_e

3510149120