In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('input_5.xlsx')

In [3]:
data.head()

      Column1
0  FFFBFFFRRL
1  FFFBBBFLLL
2  BFFFBFBRLR
3  BFBFFFBRLL
4  FFFBFBBRLR

In [4]:
len(data['Column1'])

940

In [5]:
seats = []
for i in range(len(data['Column1'])):
    row = 0
    column = 0
    rowi = data['Column1'][i][:-3]
    coli = data['Column1'][i][-3:]
    if rowi[0] == 'B':
        row += 64
    if rowi[1] == 'B':
        row += 32
    if rowi[2] == 'B':
        row += 16
    if rowi[3] == 'B':
        row += 8
    if rowi[4] == 'B':
        row += 4
    if rowi[5] == 'B':
        row += 2
    if rowi[6] == 'B':
        row += 1
    if coli[0] == 'R':
        column += 4
    if coli[1] == 'R':
        column += 2
    if coli[2] == 'R':
        column += 1
    seat = row * 8 + column
    seats.append(seat)

In [6]:
max(seats)

980

In [7]:
len(seats)

940

In [8]:
test_seats = [0,1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19]

In [9]:
def check_group(x):
    check = 0
    missing = 0
    if i+1 in seats:
        check += 1
    else:
        missing += 1
    if i+2 in seats:
        check += 1
    else:
        missing += 2
    if i+3 in seats:
        check += 1
    else:
        missing += 3
    if i+4 in seats:
        check += 1
    else:
        missing += 4
    if i+5 in seats:
        check += 1
    else:
        missing += 5
    if i+6 in seats:
        check += 1
    else:
        missing += 6
    if i+7 in seats:
        check += 1
    else:
        missing += 7
    if i+8 in seats:
        check += 1
    else:
        missing += 7
    return(check, missing)

In [11]:
for i in range(0,980,8):
    check = 0
    missing = 0
    if i in seats:
        check = check_group(i)[0]
        if check != 8:
            missing = check_group(i)[1]
            print("Missing seat is " + str(i + missing))

Missing seat is 607
Missing seat is 1001