In [40]:
import pandas as pd
import numpy as np

In [41]:
data=pd.read_excel('input_10.xlsx')

In [42]:
data.head()

   Column1
0       30
1       73
2       84
3      136
4      132

In [43]:
adapters = []
for i in range(len(data['Column1'])):
    adapters.append(data['Column1'][i])

In [44]:
len(adapters)

100

In [45]:
max(adapters)

172

In [46]:
adapters.append(0)

In [47]:
adapters.append(175)

In [48]:
adapters.sort()

In [49]:
adapters

[0,
 1,
 2,
 5,
 8,
 9,
 10,
 11,
 12,
 15,
 16,
 17,
 18,
 21,
 22,
 23,
 24,
 25,
 28,
 29,
 30,
 33,
 34,
 35,
 36,
 37,
 40,
 43,
 44,
 45,
 46,
 49,
 52,
 55,
 56,
 57,
 58,
 59,
 62,
 65,
 68,
 69,
 72,
 73,
 76,
 79,
 82,
 83,
 84,
 85,
 88,
 91,
 92,
 93,
 96,
 97,
 98,
 99,
 102,
 103,
 104,
 105,
 108,
 109,
 110,
 113,
 116,
 117,
 118,
 121,
 122,
 123,
 124,
 127,
 130,
 131,
 132,
 133,
 136,
 139,
 140,
 141,
 142,
 143,
 146,
 147,
 148,
 149,
 150,
 153,
 156,
 159,
 160,
 161,
 162,
 163,
 166,
 169,
 170,
 171,
 172,
 175]

In [53]:
differences = []
for i in range(len(adapters)-1):
    differences.append(adapters[i+1]-adapters[i])

In [54]:
len(differences)

101

In [55]:
differences.count(1)

64

In [56]:
differences.count(3)

37

In [57]:
64*37

2368

In [58]:
potentials = []
for i in range(len(adapters)):
    if ((adapters[i]+1) in adapters) and ((adapters[i]+2) in adapters) and ((adapters[i]+3) in adapters):
        potentials.append(3)
    elif ((adapters[i]+1) in adapters) and ((adapters[i]+2) in adapters):
        potentials.append(2)
    elif ((adapters[i]+1) in adapters) and ((adapters[i]+3) in adapters):
        potentials.append(2)
    elif ((adapters[i]+2) in adapters) and ((adapters[i]+3) in adapters):
        potentials.append(2)
    else:
        potentials.append(1)

In [60]:
potentials

[2,
 1,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 3,
 2,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 2,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 3,
 2,
 1,
 1,
 3,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1]

In [61]:
assigned = {}
for i in range(len(potentials)):
    assigned[adapters[i]] = potentials[i]

In [62]:
assigned

{0: 2,
 1: 1,
 2: 1,
 5: 1,
 8: 3,
 9: 3,
 10: 2,
 11: 1,
 12: 1,
 15: 3,
 16: 2,
 17: 1,
 18: 1,
 21: 3,
 22: 3,
 23: 2,
 24: 1,
 25: 1,
 28: 2,
 29: 1,
 30: 1,
 33: 3,
 34: 3,
 35: 2,
 36: 1,
 37: 1,
 40: 1,
 43: 3,
 44: 2,
 45: 1,
 46: 1,
 49: 1,
 52: 1,
 55: 3,
 56: 3,
 57: 2,
 58: 1,
 59: 1,
 62: 1,
 65: 1,
 68: 1,
 69: 1,
 72: 1,
 73: 1,
 76: 1,
 79: 1,
 82: 3,
 83: 2,
 84: 1,
 85: 1,
 88: 1,
 91: 2,
 92: 1,
 93: 1,
 96: 3,
 97: 2,
 98: 1,
 99: 1,
 102: 3,
 103: 2,
 104: 1,
 105: 1,
 108: 2,
 109: 1,
 110: 1,
 113: 1,
 116: 2,
 117: 1,
 118: 1,
 121: 3,
 122: 2,
 123: 1,
 124: 1,
 127: 1,
 130: 3,
 131: 2,
 132: 1,
 133: 1,
 136: 1,
 139: 3,
 140: 3,
 141: 2,
 142: 1,
 143: 1,
 146: 3,
 147: 3,
 148: 2,
 149: 1,
 150: 1,
 153: 1,
 156: 1,
 159: 3,
 160: 3,
 161: 2,
 162: 1,
 163: 1,
 166: 1,
 169: 3,
 170: 2,
 171: 1,
 172: 1,
 175: 1}

In [63]:
total = []
for i in range(len(assigned)):
    index = i+1
    num = adapters[-index]
    potential = assigned[num]
    if i == 0:
        total.append(1)
    else:
        if potential == 1:
            total.append(total[-1])
        elif potential == 2:
            total.append(total[-1]+total[-2])
        elif potential == 3:
            total.append(total[-1]+total[-2]+total[-3])

In [64]:
total

[1,
 1,
 1,
 2,
 4,
 4,
 4,
 4,
 8,
 16,
 28,
 28,
 28,
 28,
 28,
 56,
 112,
 196,
 196,
 196,
 392,
 784,
 1372,
 1372,
 1372,
 1372,
 2744,
 5488,
 5488,
 5488,
 5488,
 10976,
 21952,
 21952,
 21952,
 43904,
 43904,
 43904,
 43904,
 87808,
 87808,
 87808,
 175616,
 351232,
 351232,
 351232,
 702464,
 1404928,
 1404928,
 1404928,
 2809856,
 2809856,
 2809856,
 2809856,
 5619712,
 11239424,
 11239424,
 11239424,
 11239424,
 11239424,
 11239424,
 11239424,
 11239424,
 11239424,
 11239424,
 11239424,
 22478848,
 44957696,
 78675968,
 78675968,
 78675968,
 78675968,
 78675968,
 157351936,
 314703872,
 314703872,
 314703872,
 314703872,
 629407744,
 1258815488,
 2202927104,
 2202927104,
 2202927104,
 4405854208,
 4405854208,
 4405854208,
 8811708416,
 17623416832,
 30840979456,
 30840979456,
 30840979456,
 61681958912,
 123363917824,
 123363917824,
 123363917824,
 246727835648,
 493455671296,
 863547424768,
 863547424768,
 863547424768,
 863547424768,
 1727094849536]