In [1]:
import pandas as pd
import numpy as np

In [13]:
data=pd.read_excel('input_1.xlsx')

In [14]:
data.head()

   Column1
0     1778
1     1845
2     1813
3     1889
4     1939

In [15]:
data['Column1']

0      1778
1      1845
2      1813
3      1889
4      1939
       ...
195    1111
196    1280
197    1625
198    1478
199    1453
Name: Column1, Length: 200, dtype: int64

In [16]:
len(data['Column1'])

200

In [24]:
for i in range(len(data['Column1'])):
    for j in range(i,len(data['Column1'])):
        if (data['Column1'][i]+data['Column1'][j] == 2020):
            first = data['Column1'][i]
            second = data['Column1'][j]
            print(first, second, first*second)
        else:
            continue

1472 548 806656

In [26]:
for i in range(len(data['Column1'])):
    for j in range(i,len(data['Column1'])):
        for k in range(j,len(data['Column1'])):
            if (data['Column1'][i]+data['Column1'][j]+data['Column1'][k] == 2020):
                first = data['Column1'][i]
                second = data['Column1'][j]
                third = data['Column1'][k]
                print(first, second, third, first*second*third)
            else:
                continue

807 320 893 230608320